version: '3.8'

services:
  postgres:
      image: postgres:15-alpine
      container_name: desafio_inscritos
      ports:
        - "5432:5432"
      environment:
        POSTGRES_PASSWORD: 123
        POSTGRES_USER: postgres
        POSTGRES_DB: desafio_inscritos
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - postgres-compose-network

networks:
  postgres-compose-network:
    driver: bridge